.container {
    padding: 20px;
}

.title {
  font-weight: 500;
  font-size: 25px;
  color: #1A318E;
}

.name, .text {
    font-weight: 500;
    font-size: 25px;
    color: #1A318E;
    margin-left: 20px;
}